In [1]:
a = "welcome to eScience"

In [2]:
print (a)

welcome to eScience

In [3]:
2+2

4

In [4]:
1.5+1.4

2.9

In [8]:
4^2

6

In [9]:
(4)^2

6

In [10]:
4/2

2.0

In [11]:
x = 4

In [12]:
print (x)

4

In [13]:
print ("x has a value", x)

x has a value 4

In [14]:
print ('x has a value',x)

x has a value 4

In [15]:
x = 4
y = 10

In [16]:
print (x * y)

40

In [21]:
print (x-y)

-6

In [22]:
print ((2*x)-(1))

7

In [23]:
my name is "hi"

SyntaxError: invalid syntax (<ipython-input-23-59fd13f5a6d7>, line 1)

In [17]:
mynameis = 'hi'

In [18]:
weight_lbs = 210
age = 35
weight_lbs * 2
age = age - 15

In [19]:
print (weight_lbs)
print (age)

210
20

In [20]:
weight_lbs = 210
age = 35
weight_lbs = (weight_lbs * 2)
age = age - 15

In [21]:
print (weight_lbs)
print (age)

420
20

In [29]:
# strings

In [22]:
"python, I'm your number 1 fan"

"python, I'm your number 1 fan"

In [23]:
type (1)

int

In [24]:
type (1.0)

float

In [25]:
type ("1.0")

str

In [26]:
first  = "grace"
second = "Hopper"
third = second
fourth = first

In [27]:
print (third, fourth)

Hopper grace

In [28]:
print ("A"*10)

AAAAAAAAAA

In [29]:
h = "Happy"
b = "Birthday"
print((h + b)*10)

HappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthdayHappyBirthday

district = "seattle"

In [30]:
district = "Seattle"

In [31]:
print(district[0])

S

In [32]:
print(district[-1])

e

In [33]:
print("the first three chars", district[0:3])

the first three chars Sea

In [34]:
len(district)

7

In [35]:
total = 1.5 - 1/2
print (total)

1.0

In [36]:
type(total)

float

In [37]:
a = "quick"
b = "brown"
c = "fox jumps over the lazy dog"
print ("the" + a *3 + " " + b*3 + " " + c)

thequickquickquick brownbrownbrown fox jumps over the lazy dog

Markdown helps to document and can be transferred to html

# header 1
## header 2

# #
## ##

In [38]:
# codes is adding
a = 4
b = 5
print (a+b)

9

In [39]:
word = "lead"

In [40]:
print (word[0])

l

In [43]:
print (word[0])
print (word[1])
print (word[2])
print (word[3])

t
i
n

IndexError: string index out of range

In [44]:
word = "tin"
print (word[0])
print (word[1])
print (word[2])

t
i
n

In [45]:
word = "oxygen"

In [46]:
for char in word:
    print(char)

o
x
y
g
e
n

In [50]:
length = 0
for vowel in 'aeiou':
    length = length+1
    print ("there are", length, "vowel" )

there are 1 vowel
there are 2 vowel
there are 3 vowel
there are 4 vowel
there are 5 vowel

In [51]:
length = 0
for vowel in 'aeiou':
    length = length+1
print ("there are", length, "vowel" )

there are 5 vowel

everything that is indented is part of for loop, when you stop indentation the next phrase is outside of for loop

In [53]:
odds = [1,3,5,7]
print("odds are:", odds)

odds are: [1, 3, 5, 7]

In [54]:
print ("first and last", odds [0],odds[-1])

first and last 1 7

In [55]:
print (odds[3])

7

In [56]:
for number in odds:
    print (number)

1
3
5
7

In [57]:
for char in odds:
    print (char)

1
3
5
7

In [58]:
name  = ['Curie','Darwing','Turing']

In [59]:
print ('names are originally', name)

names are originally ['Curie', 'Darwing', 'Turing']

In [60]:
name[1] = "Darwin"

In [62]:
print (name)

['Curie', 'Darwin', 'Turing']

In [63]:
name = 'Darwin'
name[0] = 'd'

TypeError: 'str' object does not support item assignment

this data type is not mutable (inmutable)

In [64]:
salsa = ['peppers','onions','cilantro','tomatoes']
salsa[0] = 'hot peppers'

In [65]:
print (salsa)

['hot peppers', 'onions', 'cilantro', 'tomatoes']

In [67]:
salsa = ['peppers','onions','cilantro','tomatoes']
my_salsa = list(salsa)
my_salsa[0] = 'habaneros'
print (salsa)
print (my_salsa)

['peppers', 'onions', 'cilantro', 'tomatoes']
['habaneros', 'onions', 'cilantro', 'tomatoes']

when working with lists be careful.  can be easy to  make a change to the original list unless you call it correctly (e.g. make sure you call my_salsa =  rather than salsa = )

In [70]:
x = [['peppers', 'zucchini','onions'],
['cabbage','lettuce', 'garlic'],
 ['apples','oranges','bananas']
]

In [71]:
print (x[0])

['peppers', 'zucchini', 'onions']

In [72]:
print (x[1][1])

lettuce

In [74]:
print (x[0][2])

onions

In [75]:
print (odds)

[1, 3, 5, 7]

In [76]:
odds.append(11)

In [77]:
print (odds)

[1, 3, 5, 7, 11]

In [78]:
odds.append(11)

In [79]:
print(odds)

[1, 3, 5, 7, 11, 11]

In [80]:
del odds [-1]

In [81]:
print (odds)

[1, 3, 5, 7, 11]

In [82]:
odds.reverse()

In [83]:
print(odds)

[11, 7, 5, 3, 1]

In [84]:
type(false)

NameError: name 'false' is not defined

In [86]:
True

True

In [88]:
False

False

In [90]:
type(False)

bool

In [91]:
0==0

True

In [92]:
0==1

False

In [93]:
"a" != "a"

False

In [94]:
"a" != "b"

True

In [95]:
"a" != "A"

True

In [99]:
# <, <=, >, >=, !=, =
a > 0

True

In [100]:
"H" in "Hello"

True

In [101]:
"X" in "Hello"

False

In [103]:
"X" in odds

False

In [104]:
"a" not in "Hello"

True

In [105]:
num = 100
if num > 37:
    print("greater")

greater

In [113]:
if 0 > 2:
    print ('Zero is greater than two!')  
else:
    print ("zero isn't greater than two")

zero isn't greater than two

In [115]:
if (1>0) and (-1 >0):
    print("both statements are true")
else:
    print("at least one statement is false")

at least one statement is false

In [116]:
if (1>0) or (-1 >0):
    print("at least one statement is true")
else:
    print("neither statement is true")

at least one statement is true

In [117]:
temp = 32
if temp >60 and temp <75:
    print("its nice and cozy in here")
else: 
    print("its too extreme for me")

its too extreme for me

In [122]:
sisters_age = 17
brothers_age = 12
if sisters_age > brothers_age:
    print("Sister is older")
elif sisters_age == brothers_age:
    print ("they are same age")
#will keep going in order until it finds a true statement
#keep each option mutually exclusive to prevent confusion
else:
    print("brother is older")

Sister is older

In [123]:
#defining your own functions
def farh_to_celcius(temp):
    return((temp - 32) * (5/9))

In [125]:
farh_to_celcius(96)

35.55555555555556

In [126]:
def far_to_cel(temp):
      return((temp - 32) * (5/9))

In [127]:
far_to_cel(76)

24.444444444444446

In [128]:
print ('freezing point of water', far_to_cel(32), "C")

freezing point of water 0.0 C

In [129]:
print ('boiling point of water', far_to_cel(212),"F")

boiling point of water 100.0 F

In [131]:
def cel_to_kelvin (temp_c):
    return(temp_c+273.15)
print("freezing point of water in kelvin is", cel_to_kelvin(0))

freezing point of water in kelvin is 273.15

In [135]:
def far_to_kelvin (temp_f):
    temp_c = far_to_cel (temp_f)
    temp_k = cel_to_kelvin(temp_c)
    return(temp_k)

In [136]:
far_to_kelvin(78)

298.7055555555555

In [137]:
print ("boiling point of water in kelvin", far_to_kelvin(212))

boiling point of water in kelvin 373.15